{% extends "../layouts/base.twig" %}

{% block head %}

	<meta name="description" content="{{ data.home.us_meta_description }}">
	<meta name="keywords" content="{{ data.home.us_keywords }}">

	<title>Nosotros | Sport & Fitness</title>

	<!-- Facebook / whatsapp Open Graph meta tags -->
	<meta property="og:type" content="website"/>
	<meta property="og:title" content="Nosotros | Sport & Fitness"/>
	<meta property="og:image" content="{{ data.home.us_share_image.url }}"/>
	<meta property="og:url" content="{{ url.fullUrl }}"/>
	<meta property="og:description" content="{{ data.home.us_share }}"/>
	<meta property="og:site_name" content="Sport & Fitness"/>

	<!-- Twitter Card meta tags -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="Nosotros | Sport & Fitness"/>
	<meta name="twitter:image" content="{{ data.home.us_share_image.url }}"/>
	<meta name="twitter:site" content="{{ url.fullUrl }}"/>
	<meta name="twitter:description" content="{{ data.home.us_share }}"/>
	<meta name="twitter:creator" content="@"/>

	<link rel="canonical" href="{{ url.fullUrl }}">

{% endblock %}

{% block content %}

	<div class="about">
		<div class="about__container about__container--block">
			<h1 class="about__title">Quiénes somos</h1>
		</div>
		<div class="about__top">
			<div class="about__container about__container--block">
				<img src="/images/logo.svg" alt="Sport & Fitness" class="about__logo">
				<h2 class="about__subtitle">{{ data.home.us_fold }}</h2>
			</div>
		</div>
		<div class="about__find">
			<div class="about__container">
				<div class="about__find__item">
					<a href="/instalaciones" title="" class="about__link">
						<div class="about__icon">
							<i class="icon-building"></i>
						</div>
					</a>
					<h4 class="about__find__title">Instalaciones</h4>
					<p class="about__find__description">{{ data.home.us_insta }}</p>
				</div>
				<div class="about__find__item">
					<a href="/convenios" title="" class="about__link">
						<div class="about__icon">
							<i class="icon-weight"></i>
						</div>
					</a>
					<h4 class="about__find__title">Equipo</h4>
					<p class="about__find__description">{{ data.home.us_team }}</p>
				</div>
				<div class="about__find__item">
					<a href="/actividades-fitness" title="" class="about__link">
						<div class="about__icon">
							<i class="icon-check-list"></i>
						</div>
					</a>
					<h4 class="about__find__title">Actividades</h4>
					<p class="about__find__description">{{ data.home.us_activities }}</p>
				</div>
			</div>
		</div>
		<div class="about__mision-vision">
			<div class="about__container">
				<div class="about__mision">
					<h3 class="about__mision-vision__title">Misión</h3>
					<p class="about__mision-vision__description">{{ data.home.us_mision }}</p>
				</div>
				<div class="about__vision">
					<h3 class="about__mision-vision__title">Visión</h3>
					<p class="about__mision-vision__description">{{ data.home.us_vision }}</p>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block js %}
{% endblock %}