{% extends "../layouts/base.twig" %}

{% block head %}

	<meta name="description" content="">
	<meta name="keywords" content="">

	<title>Nosotros | Sport & Fitness</title>

	<!-- Facebook / whatsapp Open Graph meta tags -->
	<meta property="og:type" content="website"/>
	<meta property="og:title" content="Nosotros | Sport & Fitness"/>
	<meta property="og:image" content="{{ url.fullUrl }}/static/site/img/share/Nosotros.jpg"/>
	<meta property="og:url" content="{{ url.fullUrl }}"/>
	<meta property="og:description" content=""/>
	<meta property="og:site_name" content="Sport & Fitness"/>

	<!-- Twitter Card meta tags -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="Nosotros | Sport & Fitness"/>
	<meta name="twitter:image" content="{{ url.fullUrl }}/static/noticias/img/share/Nosotros.jpg"/>
	<meta name="twitter:site" content="{{ url.fullUrl }}"/>
	<meta name="twitter:description" content=""/>
	<meta name="twitter:creator" content="@"/>

	<link rel="canonical" href="{{ url.fullUrl }}">

{% endblock %}

{% block content %}

	<div class="about">
		<div class="about__container about__container--block">
			<h1 class="about__title">Quiénes somos</h1>
		</div>
		<div class="about__top">
			<div class="about__container about__container--block">
				<img src="/images/logo.svg" alt="Sport & Fitness" class="about__logo">
				<h2 class="about__subtitle"><span class="red">Sport & Fitness</span> es un complejo deportivo creado por <span class="red">especialistas en el deporte</span>, que brinda a los usuarios una opción de <span class="red">gimnasios de la mejor calidad.</span></h2>
			</div>
		</div>
		<div class="about__find">
			<div class="about__container">
				<div class="about__find__item">
					<a href="/instalaciones" title="" class="about__link">
						<div class="about__icon">
							<i class="icon-building"></i>
						</div>
					</a>
					<h4 class="about__find__title">Instalaciones</h4>
					<p class="about__find__description">Redondea tu experiencia con una gama de más de 30 actividades Fitness de diferentes tipos como: Box, zumba, cycle, funcional, bachata, yoga y muchas otras sin ningún costo extra, más de 160 clases al mes por sucursal.</p>
				</div>
				<div class="about__find__item">
					<a href="/convenios" title="" class="about__link">
						<div class="about__icon">
							<i class="icon-weight"></i>
						</div>
					</a>
					<h4 class="about__find__title">Equipo</h4>
					<p class="about__find__description">Redondea tu experiencia con una gama de más de 30 actividades Fitness de diferentes tipos como: Box, zumba, cycle, funcional, bachata, yoga y muchas otras sin ningún costo extra, más de 160 clases al mes por sucursal.</p>
				</div>
				<div class="about__find__item">
					<a href="/actividades" title="" class="about__link">
						<div class="about__icon">
							<i class="icon-check-list"></i>
						</div>
					</a>
					<h4 class="about__find__title">Actividades</h4>
					<p class="about__find__description">Redondea tu experiencia con una gama de más de 30 actividades Fitness de diferentes tipos como: Box, zumba, cycle, funcional, bachata, yoga y muchas otras sin ningún costo extra, más de 160 clases al mes por sucursal.</p>
				</div>
			</div>
		</div>
		<div class="about__mision-vision">
			<div class="about__container">
				<div class="about__mision">
					<h3 class="about__mision-vision__title">Misión</h3>
					<p class="about__mision-vision__description">Nuestra misión es contribuir al desarrollo integral de los socios mediante servicios que fortalecerán la salud física y mental, atendiendo los máximos estándares de calidad y excelencia deportiva. Para ello contamos con las mejores instalaciones, los equipos más modernos y eficientes del mercado, al igual que, con los instructores mejor calificados.</p>
				</div>
				<div class="about__vision">
					<h3 class="about__mision-vision__title">Visión</h3>
					<p class="about__mision-vision__description">Ser la mejor opción de gimnasios en la ciudad de México, distinguiéndonos por la excelencia de nuestros servicios y altos niveles de calidad en tecnología, que satisfagan al cliente, buscando siempre una superación tanto personal como en equipo. De igual forma fomentar la motivación de nuestros socios.</p>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block js %}
{% endblock %}