{% extends "../layouts/base.twig" %}

{% block head %}

	<meta name="description" content="">
	<meta name="keywords" content="">

	<title>Actividades | Sport & Fitness</title>

	<!-- Facebook / whatsapp Open Graph meta tags -->
	<meta property="og:type" content="website"/>
	<meta property="og:title" content="Actividades | Sport & Fitness"/>
	<meta property="og:image" content="{{ url.fullUrl }}/static/site/img/share/actividades.jpg"/>
	<meta property="og:url" content="{{ url.fullUrl }}"/>
	<meta property="og:description" content=""/>
	<meta property="og:site_name" content="Sport & Fitness"/>

	<!-- Twitter Card meta tags -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="Actividades | Sport & Fitness"/>
	<meta name="twitter:image" content="{{ url.fullUrl }}/static/noticias/img/share/actividades.jpg"/>
	<meta name="twitter:site" content="{{ url.fullUrl }}"/>
	<meta name="twitter:description" content=""/>
	<meta name="twitter:creator" content="@"/>

	<link rel="canonical" href="{{ url.fullUrl }}">

{% endblock %}

{% block content %}

	<div class="activities">
		<div class="activities__container">
			<h1 class="activities__title">Actividades fitness</h1>

			<ul class="activities-list galleryContainer">
			{% for activity in  data.activities %}
				<li class="activities-list__item">
					<button id="popup-{{ loop.index }}" class="activities-list__btn openPopup">
						<div class="activityVideo activities-list__video" data-video="/videos/{{ activity.video.filename }}" data-poster="{{ activity.image.url }}"></div>
						<img src="{{ activity.image.url }}" alt="" class="activities-list__img">
						<h2 class="activities-list__title"><span class="hover">{{ activity.name }}</span></h2>
					<!-- popup -->
						<div class="activity-popup popupContent">
							<div class="activity-popup__top">
								<div class="activity-popup__top__left">
									<h2 class="activity-popup__title">{{ activity.name }}</h2>
								</div>
								<div class="activity-popup__top__right">
									<span class="activity-popup__icon-calories"></span>
									<p class="activity-popup__calories">{{ activity.calories }} calorías por clase</p>
								</div>
							</div>
							<div class="activity-popup__bottom">
								<div class="activity-popup__bottom__left">
									<p class="activity-popup__description">{{ activity.description }}</p>
								</div>
								<div class="activity-popup__bottom__right">
									<div class="activity-popup__branches">
										<p class="activity-popup__subtitle">Encuéntrala en:</p>
										<p>
										{% for suc in  activity.sucursal %}
										<!--
											<a href="/sucursales/#{{ suc.slug }}" class="activity-popup__branch" title="{{ suc.name }}">{{ suc.name }}</a>
										-->
											{% if loop.index > 1 %},{% endif %}<span>{{ suc.name }}</span>
										{% endfor %}
										</p>
									</div>
								{% if activity.video_link %}
									<a href="{{ activity.video_link }}" target="_blank" class="activity-popup__play" title="Ver video"><span class="activity-popup__icon-play"></span></a>
								{% endif %}
								</div>
							</div>
						</div>
					<!-- /popup -->
					</button>
				</li>
			{% endfor %}
			</ul>

		</div>
	</div>

	<div id="popup" class="popup">
		<div class="popup__overlay closePopup"></div>
		<div class="popup__content">
			<div id="popContent"></div>
			<button class="popup__btn popup__btn--close closePopup">x</button>
		{% if data.activities.length > 1 %}
			<button class="popup__btn popup__btn--prev prevPopup"><</button>
			<button class="popup__btn popup__btn--next nextPopup">></button>
		{% endif %}
		</div>
	</div>

{% endblock %}

{% block js %}
	<script src="/js/jquery.touchSwipe.min.js"></script>
	<script src="/js/popup.js"></script>
	<script src="/js/activities.js"></script>
{% endblock %}