{% extends "../layouts/base.twig" %}

{% block head %}

	<meta name="description" content="">
	<meta name="keywords" content="">

	<title>Home | Sport & Fitness</title>

	<!-- Facebook / whatsapp Open Graph meta tags -->
	<meta property="og:type" content="website"/>
	<meta property="og:title" content="Home | Sport & Fitness"/>
	<meta property="og:image" content="http://{{ url.fullUrl }}/static/site/img/share/home.jpg"/>
	<meta property="og:url" content="http://{{ url.fullUrl }}"/>
	<meta property="og:description" content=""/>
	<meta property="og:site_name" content="Sport & Fitness"/>

	<!-- Twitter Card meta tags -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="Home | Sport & Fitness"/>
	<meta name="twitter:image" content="http://{{ url.fullUrl }}/static/noticias/img/share/home.jpg"/>
	<meta name="twitter:site" content="http://{{ url.fullUrl }}"/>
	<meta name="twitter:description" content=""/>
	<meta name="twitter:creator" content="@"/>

	<link rel="canonical" href="http://{{ url.fullUrl }}">

	<style type="text/css">
		{% for slide in data.slides %}
			.slide-{{ loop.index }} {
				background-image: url({{ slide.image_mobile.cloudinaryURL }});
			}
			@media all and (min-width: 768px){
				.slide-{{ loop.index }} {
					background-image: url({{ slide.image.cloudinaryURL }});
				}
			}
		{% endfor %}
	</style>

{% endblock %}

{% block content %}
	<div class="home">
	<!-- slider -->
		<ul class="main-slider mainSlider owl-carousel">
		{% for slide in data.slides %}
			{% if slide.type_slide == 'Video' %}
				<li class="main-slider__item slide-{{ loop.index }}">
					<div class="main-slider__video">
						<div id="slide-{{ loop.index }}" class="full-screen-video"
							 data-video="/videos/{{ slide.video.filename }}"
							 data-poster='{{ slide.image.cloudinaryURL }}'>
							 <button class="play">Play</button>
						</div>
					</div>
					<div class="main-slider__container main-slider__container--video"></div>
				</li>
			{% endif %}
			{% if slide.type_slide == 'Imagen' %}
				<li class="main-slider__item main-slider__item--image slide-{{ loop.index }}">
					<a href="{% if slide.file %}/contacto/?slide={{ slide.id }}/#form{% else %}{{ slide.link }}{% endif %}" class="main-slider__only-image"></a>
				</li>
			{% endif %}
			{% if slide.type_slide == 'Imagen con texto' %}
				<li class="main-slider__item slide-{{ loop.index }}">
					<div class="main-slider__container">
						<div class="main-slider__data">
						{% if loop.index == 1 %}
							<h1 class="main-slider__title">{{ slide.title }}</h1>
						{% else %}
							<h2 class="main-slider__title">{{ slide.title }}</h2>
						{% endif %}
						{% if slide.description %}
							<p class="main-slider__description">{{ slide.description }}</p>
						{% endif %}
						{% if slide.button and slide.button_url %}
							<a href="{% if slide.file %}/contacto/?slide={{ slide.id }}/#form{% else %}{{ slide.button_url }}{% endif %}" class="main-slider__button button" title="{{ slide.button }}">{{ slide.button }}</a>
						{% endif %}
						</div>
					</div>
				</li>
			{% endif %}
		{% endfor %}
		</ul>
	<!-- /slider -->

	<!-- branches -->
		<a href="/instalaciones" title="Ver instalaciones" class="home-link home-link--branches">
			<div class="home-link__container">
				<h3 class="home-link__title">Instalaciones</h3>
			</div>
		</a>
	<!-- /branches -->

	<!-- fitness -->
		<a href="/actividades-fitness" title="Ver Actividades fitness" class="home-link home-link--fitness">
			<div class="home-link__container">
				<h3 class="home-link__title">Actividades fitness</h3>
			</div>
		</a>
	<!-- /fitness -->

	<!-- promos -->
		<div class="promos-block" style="background-image: url({{ data.home.image.url }});">
			<div class="promos-block__container">
				<div class="promos-block__data">
					<p class="promos-block__description">Conoce <span>nuestras</span></p>
					<h3 class="promos-block__title">Promociones</h3>
					<a href="/promociones" class="promos-block__button button" title="Ver Promociones">Ver Promociones</a>
				</div>
			</div>
		</div>
	<!-- /promos -->

	<!-- visit -->
		<div class="visit-block">
			<div class="visit-block__container">
				<div class="visit-block__left">
					<a href="/contacto" class="visit-block__button button" title="Ponte en contacto">Ponte en contacto</a>
					<p class="visit-block__description">Las mejores instalaciones</br>creadas para ti</p>
				</div>
				<div class="visit-block__right">
					<div id="map"
					  class="visit-block__map map"
					  data-pin='[{% for branch in data.branches %}{% if loop.index > 1 %},{% endif %}{"lat":"{{ branch.latitude }}","lng":"{{ branch.longitude }}","name":"{{ branch.name }}","phone":"{{ branch.telephone}}"}
					  {% endfor %}]'
					></div>

				{% if data.next_branches %}
					<p class="visit-block__description">
						Próximas aperturas:
						{% for branch in data.next_branches %}
							{% if loop.index > 1 %},{% endif %}{{ branch.name }}
						{% endfor %}
					</p>
				{% endif %}
				</div>
			</div>
		</div>
	<!-- /visit -->

	</div>
{% endblock %}

{% block js %}
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/home.js"></script>

	<script type="text/javascript" src="/js/map.js"></script>
	<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnQNdZNCZJVCZr7Uy4YQdNNihMKC7-xaY&callback=PinMap.start">
	</script>

{% endblock %}