{% extends "../layouts/base.twig" %}

{% block head %}

	<meta name="description" content="">
	<meta name="keywords" content="">

	<title>Home | Sport & Fitness</title>

	<!-- Facebook / whatsapp Open Graph meta tags -->
	<meta property="og:type" content="website"/>
	<meta property="og:title" content="Home | Sport & Fitness"/>
	<meta property="og:image" content="http://{{ url.fullUrl }}/static/site/img/share/home.jpg"/>
	<meta property="og:url" content="http://{{ url.fullUrl }}"/>
	<meta property="og:description" content=""/>
	<meta property="og:site_name" content="Sport & Fitness"/>

	<!-- Twitter Card meta tags -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="Home | Sport & Fitness"/>
	<meta name="twitter:image" content="http://{{ url.fullUrl }}/static/noticias/img/share/home.jpg"/>
	<meta name="twitter:site" content="http://{{ url.fullUrl }}"/>
	<meta name="twitter:description" content=""/>
	<meta name="twitter:creator" content="@"/>

	<link rel="canonical" href="http://{{ url.fullUrl }}">

{% endblock %}

{% block content %}
	<div class="home">
	<!-- slider -->
		<ul class="main-slider mainSlider owl-carousel">
			<li class="main-slider__item" style="background-image:url(/images/slide-1.jpg);">
				<div class="main-slider__container">
					<div class="main-slider__data">
						<h1 class="main-slider__title">Entrenamiento en suspensión</h1>
						<p class="main-slider__description">Rompe los obstáculos</p>
						<a href="#" class="main-slider__button button" title="Horarios">Horarios</a>
					</div>
				</div>
			</li>
			<li class="main-slider__item" style="background-image:url(/images/slide-1.jpg);">
				<div class="main-slider__container">
					<div class="main-slider__data">
						<h1 class="main-slider__title">Entrenamiento en suspensión</h1>
						<p class="main-slider__description">Rompe los obstáculos</p>
						<a href="#" class="main-slider__button button" title="Horarios">Horarios</a>
					</div>
				</div>
			</li>
		</ul>
	<!-- /slider -->

	<!-- branches -->
		<a href="/instalaciones" title="Ver instalaciones" class="home-link home-link--branches">
			<div class="home-link__container">
				<h3 class="home-link__title">Instalaciones</h3>
			</div>
		</a>
	<!-- /branches -->

	<!-- fitness -->
		<a href="/actividades-fitness" title="Ver Actividades fitness" class="home-link home-link--fitness">
			<div class="home-link__container">
				<h3 class="home-link__title">Actividades fitness</h3>
			</div>
		</a>
	<!-- /fitness -->

	<!-- promos -->
		<div class="promos-block">
			<div class="promos-block__container">
				<div class="promos-block__data">
					<p class="promos-block__description">Conoce <span>nuestras</span></p>
					<h3 class="promos-block__title">Promociones</h3>
					<a href="/promociones" class="promos-block__button button" title="Ver Promociones">Ver Promociones</a>
				</div>
			</div>
		</div>
	<!-- /promos -->

	<!-- visit -->
		<div class="visit-block">
			<div class="visit-block__container">
				<div class="visit-block__left">
					<h3 class="visit-block__title">Visítanos</h3>
					<p class="visit-block__description">Las mejores instalaciones creadas para ti</p>
				</div>
				<div class="visit-block__right">
					<div id="map" class="visit-block__map map"></div>
					<p class="visit-block__description">Próximas aperturas: Metepec, Puebla-Torres, Miramontes</p>
				</div>
			</div>
		</div>
	<!-- /visit -->

	</div>
{% endblock %}

{% block js %}
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/home.js"></script>

	<script type="text/javascript" src="/js/map.js"></script>
	<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnQNdZNCZJVCZr7Uy4YQdNNihMKC7-xaY&callback=PinMap.start">
	</script>

{% endblock %}