{% extends "../layouts/base.twig" %}

{% block head %}

	<meta name="description" content="">
	<meta name="keywords" content="">

	<title>Instalaciones | Sport & Fitness</title>

	<!-- Facebook / whatsapp Open Graph meta tags -->
	<meta property="og:type" content="website"/>
	<meta property="og:title" content="Instalaciones | Sport & Fitness"/>
	<meta property="og:image" content="{{ url.fullUrl }}/static/site/img/share/Instalaciones.jpg"/>
	<meta property="og:url" content="{{ url.fullUrl }}"/>
	<meta property="og:description" content=""/>
	<meta property="og:site_name" content="Sport & Fitness"/>

	<!-- Twitter Card meta tags -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="Instalaciones | Sport & Fitness"/>
	<meta name="twitter:image" content="{{ url.fullUrl }}/static/noticias/img/share/Instalaciones.jpg"/>
	<meta name="twitter:site" content="{{ url.fullUrl }}"/>
	<meta name="twitter:description" content=""/>
	<meta name="twitter:creator" content="@"/>

	<link rel="canonical" href="{{ url.fullUrl }}">

{% endblock %}

{% block content %}

	<div class="installations">
		<div class="installations__container installations__container--block">
			<h1 class="installations__title">Instalaciones</h1>
		</div>
		<div class="installations__scroll menuScroll">
			<ul class="installations__menu menuScrollInner">
				{% for installation in  data.branches %}
					<li class="installations__item">
						<button class="installations__btn toggleBranch branch-{{ loop.index }} {% if loop.index == 1 %}active{% endif%}" data-target="branch-{{ loop.index }}">{{ installation.name }}</button>
					</li>
				{% endfor %}
			</ul>
			<span class="menuControl left"><<</span>
			<span class="menuControl right">>></span>
		</div>
	{% for installation in  data.branches %}
		<div class="installations-branch">
			<div class="installations__container">
				<button class="installations-branch__title branch-{{ loop.index }} {% if loop.index == 1 %}active{% endif%} toggleBranch" data-target="branch-{{ loop.index }}">
					<span class="text">{{ installation.name }}</span>
					<span class="image" style="background-image: url({{ installation.image.cloudinaryURL }});"></span>
				</button>
				<div id="branch-{{ loop.index }}" class="installations-branch__content {% if loop.index == 1 %}active{% endif%} targetBranch">
					<div class="installations-branch__description">
						{{ installation.services }}
					{% if installation.video_link %}
						<div class="installations-branch__video">
							<a href="{{ installation.video_link }}" target="_blank" class="installations-branch__play" title="Ver video"><span class="installations-branch__icon-play"></span></a>
						</div>
					{% endif %}
					</div>
					<ul class="installations-branch__gallery galleryContainer">
						{% for photo in  installation.gallery %}
							<li class="installations-branch__gallery__item">
								<button id="popup-{{ installation.id }}-{{ loop.index }}" class="installations-branch__gallery__button openPopup" style="background-image: url({{ photo.url }});">
									<img src="/images/blank.png">
								<!-- popup -->
									<img src="{{ photo.url }}" class="installations-popup popupContent">
								<!-- /popup -->
								</button>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	{% endfor %}
	</div>

	<div id="popup" class="popup">
		<div class="popup__overlay closePopup"></div>
		<div class="popup__content">
			<div id="popContent"></div>
			<button class="popup__btn popup__btn--img popup__btn--close closePopup"><img src="/images/close.svg"></button>
			<button class="popup__btn popup__btn--img popup__btn--prev prevPopup"><img src="/images/prev.svg"></button>
			<button class="popup__btn popup__btn--img popup__btn--next nextPopup"><img src="/images/next.svg"></button>
		</div>
	</div>

{% endblock %}

{% block js %}
	<script src="/js/jquery.touchSwipe.min.js"></script>
	<script src="/js/popup.js"></script>
	<script src="/js/installations.js"></script>
{% endblock %}