{% extends "../layouts/base.twig" %}

{% block head %}

	<meta name="description" content="">
	<meta name="keywords" content="">

	<title>Instalaciones | Sport & Fitness</title>

	<!-- Facebook / whatsapp Open Graph meta tags -->
	<meta property="og:type" content="website"/>
	<meta property="og:title" content="Instalaciones | Sport & Fitness"/>
	<meta property="og:image" content="http://{{ url.fullUrl }}/static/site/img/share/Instalaciones.jpg"/>
	<meta property="og:url" content="http://{{ url.fullUrl }}"/>
	<meta property="og:description" content=""/>
	<meta property="og:site_name" content="Sport & Fitness"/>

	<!-- Twitter Card meta tags -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="Instalaciones | Sport & Fitness"/>
	<meta name="twitter:image" content="http://{{ url.fullUrl }}/static/noticias/img/share/Instalaciones.jpg"/>
	<meta name="twitter:site" content="http://{{ url.fullUrl }}"/>
	<meta name="twitter:description" content=""/>
	<meta name="twitter:creator" content="@"/>

	<link rel="canonical" href="http://{{ url.fullUrl }}">

{% endblock %}

{% block content %}

	<div class="installations">
		<div class="installations__container installations__container--block">
			<h1 class="installations__title">Instalaciones</h1>
		</div>
		<div class="installations__scroll menuScroll">
			<ul class="installations__menu menuScrollInner">
				<li class="installations__item">
					<button class="installations__btn toggleBranch test-1 active" data-target="test-1" title="Test">Test</button>
				</li>
				<li class="installations__item">
					<button class="installations__btn toggleBranch test-2" data-target="test-2" title="Test">Test</button>
				</li>
			</ul>
			<span class="menuControl left"><<</span>
			<span class="menuControl right">>></span>
		</div>
		<div class="installations-branch">
			<div class="installations__container">
				<button class="installations-branch__title test-1 active toggleBranch" data-target="test-1">
					<span class="text">Test</span>
					<span class="image" style="background-image: url(/images/contact-bck.jpg);"></span>
				</button>
				<div id="test-1" class="installations-branch__content active targetBranch">
					<ul class="installations-branch__description">
						<li class="installations-branch__description__item">Sauna</li>
						<li class="installations-branch__description__item">Valet Parking</li>
						<li class="installations-branch__description__item">Asesoramiento de entrenamiento</li>
					</ul>
					<ul class="installations-branch__gallery galleryContainer">
						<li class="installations-branch__gallery__item">
							<button id="popup-2-1" class="installations-branch__gallery__button openPopup" style="background-image: url(/images/contact-bck.jpg);">
								<img src="/images/blank.png">
							<!-- popup -->
								<img src="/images/contact-bck.jpg" class="installations-popup popupContent">
							<!-- /popup -->
							</button>
						</li>
						<li class="installations-branch__gallery__item">
							<button id="popup-2-2" class="installations-branch__gallery__button openPopup" style="background-image: url(/images/activity.jpg);">
								<img src="/images/blank.png">
							<!-- popup -->
								<img src="/images/activity.jpg" class="installations-popup popupContent">
							<!-- /popup -->
							</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="installations-branch">
			<div class="installations__container">
				<button class="installations-branch__title test-2 toggleBranch" data-target="test-2">
					<span class="text">Test 2</span>
					<span class="image" style="background-image: url(/images/contact-bck.jpg);"></span>
				</button>
				<div id="test-2" class="installations-branch__content targetBranch">
					<ul class="installations-branch__description">
						<li class="installations-branch__description__item">Sauna2</li>
						<li class="installations-branch__description__item">Valet Parking2</li>
						<li class="installations-branch__description__item">Asesoramiento de entrenamiento2</li>
					</ul>
					<ul class="installations-branch__gallery galleryContainer">
						<li class="installations-branch__gallery__item">
							<button id="popup-1" class="installations-branch__gallery__button openPopup">
								<img src="/images/activity.jpg">
							<!-- popup -->
								<div class="installations-popup popupContent">
									<img src="/images/activity.jpg">
								</div>
							<!-- /popup -->
							</button>
						</li>
						<li class="installations-branch__gallery__item">
							<button id="popup-2" class="installations-branch__gallery__button openPopup">
								<img src="/images/contact-bck.jpg">
							<!-- popup -->
								<div class="installations-popup popupContent">
									<img src="/images/contact-bck.jpg">
								</div>
							<!-- /popup -->
							</button>
						</li>
						<li class="installations-branch__gallery__item">
							<button id="popup-3" class="installations-branch__gallery__button openPopup">
								<img src="/images/activity.jpg">
							<!-- popup -->
								<div class="installations-popup popupContent">
									<img src="/images/activity.jpg">
								</div>
							<!-- /popup -->
							</button>
						</li>
						<li class="installations-branch__gallery__item">
							<button id="popup-4" class="installations-branch__gallery__button openPopup">
								<img src="/images/contact-bck.jpg">
							<!-- popup -->
								<div class="installations-popup popupContent">
									<img src="/images/contact-bck.jpg">
								</div>
							<!-- /popup -->
							</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="popup" class="popup">
		<div class="popup__overlay closePopup"></div>
		<div class="popup__content">
			<div id="popContent"></div>
			<button class="popup__btn popup__btn--img popup__btn--close closePopup"><img src="/images/close.svg"></button>
			<button class="popup__btn popup__btn--img popup__btn--prev prevPopup"><img src="/images/prev.svg"></button>
			<button class="popup__btn popup__btn--img popup__btn--next nextPopup"><img src="/images/next.svg"></button>
		</div>
	</div>

{% endblock %}

{% block js %}
	<script src="/js/popup.js"></script>
	<script src="/js/installations.js"></script>
{% endblock %}