{% extends "../layouts/base.twig" %}

{% block head %}

	<meta name="description" content="">
	<meta name="keywords" content="">

	<title>Instalaciones | Sport & Fitness</title>

	<!-- Facebook / whatsapp Open Graph meta tags -->
	<meta property="og:type" content="website"/>
	<meta property="og:title" content="Instalaciones | Sport & Fitness"/>
	<meta property="og:image" content="http://{{ url.fullUrl }}/static/site/img/share/Instalaciones.jpg"/>
	<meta property="og:url" content="http://{{ url.fullUrl }}"/>
	<meta property="og:description" content=""/>
	<meta property="og:site_name" content="Sport & Fitness"/>

	<!-- Twitter Card meta tags -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="Instalaciones | Sport & Fitness"/>
	<meta name="twitter:image" content="http://{{ url.fullUrl }}/static/noticias/img/share/Instalaciones.jpg"/>
	<meta name="twitter:site" content="http://{{ url.fullUrl }}"/>
	<meta name="twitter:description" content=""/>
	<meta name="twitter:creator" content="@"/>

	<link rel="canonical" href="http://{{ url.fullUrl }}">

{% endblock %}

{% block content %}

	<div class="installations">
		<div class="installations__container installations__container--block">
			<h1 class="installations__title">Instalaciones</h1>
		</div>
		<ul class="installations__menu">
			<li class="installations__item active">
				<button class="installations__btn" title="Test">Test</button>
			</li>
			<li class="installations__item">
				<button class="installations__btn" title="Test">Test</button>
			</li>
			<li class="installations__item">
				<button class="installations__btn" title="Test">Test</button>
			</li>
			<li class="installations__item">
				<button class="installations__btn" title="Test">Test</button>
			</li>
			<li class="installations__item">
				<button class="installations__btn" title="Test">Test</button>
			</li>
		</ul>
		<div class="installations-branch">
			<div class="installations__container">
				<button class="installations-branch__title">
					<span class="text">Test</span>
					<span class="image" style="background-image: url(/images/contact-bck.jpg);"></span>
				</button>
				<div class="installations-branch__content">
					<ul class="installations-branch__description">
						<li class="installations-branch__description__item">Sauna</li>
						<li class="installations-branch__description__item">Valet Parking</li>
						<li class="installations-branch__description__item">Asesoramiento de entrenamiento</li>
					</ul>
					<ul class="installations-branch__gallery">
						<li class="installations-branch__gallery__item">
							<button class="installations-branch__gallery__button openPopup">
								<img src="/images/activity.jpg">
							<!-- popup -->
								<div class="installations-popup popupContent">
									<img src="/images/activity.jpg">
								</div>
							<!-- /popup -->
							</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="popup" class="popup">
		<div class="popup__overlay closePopup"></div>
		<div class="popup__content">
			<div id="popContent"></div>
			<button class="popup__btn popup__btn--close closePopup">x</button>
			<button class="popup__btn popup__btn--prev prevPopup"><</button>
			<button class="popup__btn popup__btn--next nextPopup">></button>
		</div>
	</div>

{% endblock %}

{% block js %}
	<script src="/js/popup.js"></script>
{% endblock %}