{% extends "../layouts/base.twig" %}

{% block head %}

	<meta name="description" content="">
	<meta name="keywords" content="">

	<title>Convenios | Sport & Fitness</title>

	<!-- Facebook / whatsapp Open Graph meta tags -->
	<meta property="og:type" content="website"/>
	<meta property="og:title" content="Convenios | Sport & Fitness"/>
	<meta property="og:image" content="{{ url.fullUrl }}/static/site/img/share/Convenios.jpg"/>
	<meta property="og:url" content="{{ url.fullUrl }}"/>
	<meta property="og:description" content=""/>
	<meta property="og:site_name" content="Sport & Fitness"/>

	<!-- Twitter Card meta tags -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="Convenios | Sport & Fitness"/>
	<meta name="twitter:image" content="{{ url.fullUrl }}/static/noticias/img/share/Convenios.jpg"/>
	<meta name="twitter:site" content="{{ url.fullUrl }}"/>
	<meta name="twitter:description" content=""/>
	<meta name="twitter:creator" content="@"/>

	<link rel="canonical" href="{{ url.fullUrl }}">

{% endblock %}

{% block content %}

	<div class="partners">
		<div class="partners__container partners__container--block">
			<h1 class="partners__title">CONOCE NUESTROS CONVENIOS</h1>
		</div>
		<div class="partners__full">
			<div class="partners__imgs">
			{% if data.home.partner_1 %}
				<img src="{{ data.home.partner_1.cloudinaryURL }}" alt="Sport & Fitness | Convenios" class="partners-1 animatedBlock">
			{% endif %}
			{% if data.home.partner_2 %}
				<img src="{{ data.home.partner_2.cloudinaryURL }}" alt="Sport & Fitness | Convenios" class="partners-2 animatedBlock">
			{% endif %}
			{% if data.home.partner_3 %}
				<img src="{{ data.home.partner_3.cloudinaryURL }}" alt="Sport & Fitness | Convenios" class="partners-3 animatedBlock">
			{% endif %}
			{% if data.home.partner_4 %}
				<img src="{{ data.home.partner_4.cloudinaryURL }}" alt="Sport & Fitness | Convenios" class="partners-4 animatedBlock">
			{% endif %}
			</div>
			<div class="partners__intro">
				<h2 class="partners__subtitle animatedBlock">Conoce los beneficios de ser usuario</h2>
				<img src="/images/logo.svg" alt="Sport & Fitness" class="partners__logo animatedBlock">
				<p class="partners__description animatedBlock">A ti que ya eres usuario de Sport and Fitness, conoce los beneficios que tienes gracias a tu preferencia y si aun no eres usuario Sport and Fitness ¡Únete!</p>
			</div>
		</div>
		<div class="partners__container">
			{% for partner in  data.home.partners %}
				<div class="partners__partner animatedBlock">
					<img src="{{ partner.image.cloudinaryURL }}" alt="{{ partner.name }}">
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}

{% block js %}
	<script src="/js/partners.js"></script>
{% endblock %}